<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper と xmlのマッピング -->
<mapper namespace="com.example.repository.FizzbuzzMapper">

<resultMap type="com.example.domain.fizzbuzz.model.MResult" id="result"> 
<id column="risult_id" property="risultId" /> 
	<result column="risult_num" property="risultNum" /> 
	<result column="fizzbuzz_result" property="fizzbuzzResult" /> 
</resultMap>

<resultMap type="com.example.domain.fizzbuzz.model.MFizzbuzz" id="fizzbuzz"> 
<id column="fizzbuzz_id" property="fizzbuzzId" /> 
	<result column="number" property="number" /> 
</resultMap>

<insert id="insertResult">
	insert into m_result(
		result_num ,
		fizzbuzz_result
	)
	values(
	   #{resultNum} ,
	   #{fizzbuzzResult}
	)
</insert>
<delete id="delResult">
	delete from m_result
</delete>

<delete id="clear">
	ALTER TABLE m_result 
	ALTER COLUMN risult_id 
	RESTART WITH 1
</delete>

<insert id="insertHistory">
	insert into m_fizzbuzz(
		number
	)
	values(
	   #{number}
	 )
</insert>

<select id="selectResult" resultType="com.example.domain.fizzbuzz.model.MResult">
	select
		risult_id ,
		result_num,
		fizzbuzz_result
	from
		m_result
</select>

<select id="historyCount" resultType="int">
	select count(*)
	from m_fizzbuzz
</select>


<select id="findHistory" resultType="com.example.domain.fizzbuzz.model.MFizzbuzz">
	select
		*
	from
		m_fizzbuzz
	<if test="strSet != -1">
		limit 5 
		OFFSET #{strSet}
	</if>
</select>

</mapper>